* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    padding: 2rem;
    font-family: Lato, sans-serif;
    font-weight: 700;
    font-size: 1.6rem;
}

.header {
    height: 90vh;
    background-size: cover;
    background-position: top;
    background-image: linear-gradient(to right, #55c57ad2, #7ed56fc9), url("../../starter/img/hero.jpg");
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
    position: relative;
}

.header__logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem;
}

.header__logo {
    height: 3.5rem;
}

.header__text {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.header__text__main, .header__text__sub {
    text-transform: uppercase;
    color: white;
    display: block;
}

.header__text__main {
    letter-spacing: 3.5rem;
    font-weight: 400;
    font-size: 6rem;
    margin-bottom: 2rem;
    animation: slideInFromLeft 1s ease-in-out;
}

.header__text__sub {
    letter-spacing: 1.75rem;
    font-weight: 700;
    font-size: 2rem;
    animation: slideInFromRight 1s ease-in-out;
}

@keyframes slideInFromLeft {
    0% {
        transform: translateX(-10rem);
        opacity: 0;
    }

    80% {
        transform: translateX(2rem);
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideInFromRight {
    0% {
        transform: translateX(10rem);
        opacity: 0;
    }

    80% {
        transform: translateX(-2rem);
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}
